<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seats</title>
    <link rel="stylesheet" href="../css/asiento.css">
    <script type="module" src="../js/module/asiento.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="choose__seat">
        <a id="back-pelicula_detalle" href="#"><i class='bx bx-chevron-left'></i></a>
        <h4>Choose Seat</h4>
        <i class='bx bx-menu-alt-right'></i>
    </header>
    <main class= "teather">
        <section class="screen">
            <img src="../img/image1.webp" alt="screen">
            <p>Screen This way</p>
        </section>
        <section class="seats">
            <div class= "front__seats">
                <div class ="front__letter">
                    <p>A</p>
                    <p>B</p>
                </div>
                <div class="group__seats_f">
                    <div id="B1" class="front__seat"></div>
                    <div id="B2" class="front__seat"></div>
                    <div id="B3" class="front__seat"></div>
                    <div id="B4" class="front__seat"></div>
                    <div id="B5" class="front__seat"></div>
                    <div id="B6" class="front__seat"></div>
                    <div id="B7" class="front__seat"></div>
                    <div id="A1" class="front__seat"></div>
                    <div id="A2" class="front__seat"></div>
                    <div id="A3" class="front__seat"></div>
                    <div id="A4" class="front__seat"></div>
                    <div id="A5" class="front__seat"></div>
                    <div id="A6" class="front__seat"></div>
                    <div id="A7" class="front__seat"></div>
                </div>
            </div>
            <div class= "back__seats">
                <div class ="back__letter">
                    <p>C</p>
                    <p>D</p>
                    <p>E</p>
                    <p>F</p>
                </div>
                <div class= "group__seats">
                    <div id="C1" class="back__seat"></div>
                    <div id="C2" class="back__seat"></div>
                    <div id="C3" class="back__seat"></div>
                    <div id="C4" class="back__seat"></div>
                    <div id="C5" class="back__seat"></div>
                    <div id="C6" class="back__seat"></div>
                    <div id="C7" class="back__seat"></div>
                    <div id="C8" class="back__seat"></div>
                    <div id="C9" class="back__seat"></div>

                    <div id="D1" class="back__seat"></div>
                    <div id="D2" class="back__seat"></div>
                    <div id="D3" class="back__seat"></div>
                    <div id="D4" class="back__seat"></div>
                    <div id="D5" class="back__seat"></div>
                    <div id="D6" class="back__seat"></div>
                    <div id="D7" class="back__seat"></div>
                    <div id="D8" class="back__seat"></div>
                    <div id="D9" class="back__seat"></div>

                    <div id="E1" class="back__seat"></div>
                    <div id="E2" class="back__seat"></div>
                    <div id="E3" class="back__seat"></div>
                    <div id="E4" class="back__seat"></div>
                    <div id="E5" class="back__seat"></div>
                    <div id="E6" class="back__seat"></div>
                    <div id="E7" class="back__seat"></div>
                    <div id="E8" class="back__seat"></div>
                    <div id="E9" class="back__seat"></div>
                    
                    <div id="F1" class="back__seat"></div>
                    <div id="F2" class="back__seat"></div>
                    <div id="F3" class="back__seat"></div>
                    <div id="F4" class="back__seat"></div>
                    <div id="F5" class="back__seat"></div>
                    <div id="F6" class="back__seat"></div>
                    <div id="F7" class="back__seat"></div>
                    <div id="F8" class="back__seat"></div>
                    <div id="F9" class="back__seat"></div>
                </div>
            </div>    
    </section>
    <div class="conventions">
        <i class='bx bxs-circle'></i>
        <p>Available</p>
        <i class='bx bxs-circle'></i>
        <p>Reserved</p>
        <i class='bx bxs-circle'></i>
        <p>Selected</p>
    </div>
    <section class="dates">
        <div class= "days">
            <div class="day">
                <p>Mon</p>
                <p>17</p>
            </div>
            <div class="day">
                <p>Tue</p>
                <p>18</p>
            </div>
            <div class="day">
                <p>wed</p>
                <p>19</p>
            </div>
            <div class="day">
                <p>Thu</p>
                <p>20</p>
            </div>
            <div class="day">
                <p>Fri</p>
                <p>21</p>
            </div>
            <div class="day">
                <p>Sat</p>
                <p>22</p>
            </div>
            <div class="day">
                <p>Sun</p>
                <p>23</p>
            </div>
        </div>
        <div class="times">
            <div class="time">
                <p>13:00</p>
                <p>$5.99</p>
            </div>
            <div class="time">
                <p>13:00</p>
                <p>$5.99</p>
            </div>
            <div class="time">
                <p>13:00</p>
                <p>$5.99</p>
            </div>
            <div class="time">
                <p>13:00</p>
                <p>$5.99</p>
            </div>
        </div>
    </section>
    </main>
    <footer class="payment">
        <div class="price">
            <p>Price</p>
            <p>$23.99</p>
        </div>
        <div class="buy">
            <button>Buy ticket</button>
        </div>
    </footer>
</body>
</html>
