<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/peliculaDetalle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header>
        <i class='bx bx-chevron-left'></i>
        <h4>Cinema Selection</h4>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <section class="video-main">
            <iframe width="400" height="450" src="https://www.youtube.com/embed/GgerHF86Rv4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <section class="info_video-main">
            <div>
                <h5>Puss in boots the last wish</h5>
                <p>Action, Adventure</p>
            </div>
            <button>Watch Trailer</button>
        </section>
        <section class="detalle_video-main">
            <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nihil eveniet omnis consequuntur optio magni, placeat maxime tenetur, soluta voluptates ipsam odio, molestias repellat corporis? Quaerat cupiditate laudantium quae consequatur!</h5>
            <div>
                <p>Duracion</p>
                <p class="p">122 minutos</p>
            </div>
        </section>
    </main>
    <footer>
        <button>Book Now</button>
    </footer>
</body>
</html>