<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/peliculaDetalle.css">
    <script type="module" src="../js/module/peliculaDetalle.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/pelicula"><i class='bx bx-chevron-left'></i></a>
        <h4>Cinema Selection</h4>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <section id="video-main" class="video-main"></section>
        <section class="info_video-main">
            <div></div>
            <button id="button_video-main">Watch Trailer</button>
        </section>
        <section id="detalle_video-main" class="detalle_video-main">
            <p id="p" class="p"></p>
            <div class="detalle_video-actor">
                <p>Cast</p>
                <div id="actor-list" class="actor-list"></div>
            </div>
            <div class="detalle_video-cinema">
                <p class="actor-name">Cinema</p>
                <div class="cinema-info">
                    <div>
                        <p class="actor-name">Campuslands</p>
                        <p class="actor-role">Zona Franca, Floridablanca</p>
                    </div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSYssTiQH-eIlsZKQZm-iYKkeY-V26_NMf-Q&s" alt="Antonio Banderas">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <button>Book Now</button>
    </footer>
</body>
</html>