<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/peliculaDetalle.css">
    <script type="module" src="../js/module/peliculaDetalle.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/pelicula"><i class='bx bx-chevron-left'></i></a>
        <h4>Cinema Selection</h4>
        <i class='bx bx-dots-vertical-rounded'></i>
    </header>
    <main>
        <section id="video-main" class="video-main"></section>
        <section class="info_video-main">
            <div>
                <h5>Puss in boots the last wish</h5>
                <p>Action, Adventure</p>
            </div>
            <button>Watch Trailer</button>
        </section>
        <section class="detalle_video-main">
            <div>
                <!-- <p>Sipnosis</p> -->
                <p class="p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto nihil eveniet omnis consequuntur optio magni, placeat maxime tenetur, soluta voluptates ipsam odio, molestias repellat corporis? Quaerat cupiditate laudantium quae consequatur!</p>
            </div>
            <div class="detalle_video-actor">
                <p>Cast</p>
                <div>
                    <img src="https://i.postimg.cc/qRGy3vB2/furiosa.jpg" alt="">
                    <div class="actor-info">
                        <h3>Apodo</h3>
                        <p>Nombre</p>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <button>Book Now</button>
    </footer>
</body>
</html>