*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
    color: #fff;
}

header {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.informacion-header {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.informacion-img {
    display: flex;
    width: 15%;
}

.informacion-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.informacion-texto {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    font-size: 1.3em;
}

.informacion-icono {
    width: 20%;
    height: 100%;
    font-size: 2rem;
    padding-left: 2rem;
}

.buscador-header {
    width: 100%;
    height: 50%;
}

.search-bar {
    background-color: #1c1c1e;
    padding: 1rem;
    margin: 20px 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.search-bar input {
    width: 100%;
    border: none;
    color: #fff;    
    background: transparent;
}

/* -------------------------------------------- */

main {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
    overflow: hidden;
}

.informacion-main {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: end;
    font-size: 1.3rem;
}

.informacion-main button {
    text-decoration: none;
    font-size: 1.1rem;
    border: none;
    color: red;
}

.carrusel-main {
    display: flex;
    width: 100vw;
    height: 70%;
    align-items: center;
    margin-top: 10px;
    padding: 1.2rem;
    padding-left: 3.8rem;
    overflow-x: scroll;
    gap: 2.2rem;
}

.carrusel-main::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    display: flex;
    height: 20rem;
    object-fit: contain;
}

.carousel-item img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.informacion-pelicula-main {
    width: 100%;
    height: 20%;
    padding: 0.5rem;
}

.informacion-texto-pelicula {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.informacion-span {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    padding-top: 0.6rem;
}

.span {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.pelicula-pronto-main {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    margin-top: 1.5rem;
}

.informacion-pelicula_pronto-main {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: end;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.informacion-pelicula_pronto-main p {
    font-size: 1.3rem;
}

.informacion-pelicula_pronto-main button {
    text-decoration: none;
    font-size: 1.1rem;
    border: none;
    color: red;
    background: transparent;
}

.carrusel-pronto {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 17rem; 
    overflow-y: auto; 
    gap: 1rem;
    padding: 0 1rem;
}

.carrusel-pronto::-webkit-scrollbar {
    display: none;
}

.pelicula_pronto-caratula-main {
    display: flex;
    flex-direction: row; 
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.pelicula_pronto-caratula-main img {
    width: 5rem;
    height: 6rem;
    object-fit: cover;
}

.pelicula-info {
    margin-left: 1rem;
    padding: 10px;
    font-size: 16px;
    background: #333;
}


.pelicula-info h3,
.pelicula-info p {
    background: #333;
}

footer {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: #000;
    padding-top: 1.4rem;
    bottom: 0;
    border-radius: 1rem 1rem 0 0;
    border-top: 2px solid #fff
}

footer ul {
    background-color: #000;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

footer li {
    text-align: center;
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    background-color: #000;
}

footer i {
    font-size: 24px;
    margin-bottom: 5px;
    background-color: #000;
}