:root{
    --color1: #121212;
    --color2: #ffffffac;
    --color3: #272727;
    --color4: #323232;
    --color5: #CECECE;
    --color6: #FE0000;
    --color7:#F8F5F5;
    --color8: #381818;
    --color9: #ffffff78;
}